.idea
.vscode
*.pyc
*.gz
*.tsv
tmp_*.py
dist/
nr_*/
/pretrained-models/
/cheatsheet.txt
/testsuite.txt
/TODO.txt

*.egg-info/
output/
**/.DS_Store

data/*
!data/prepare_text_data.ipynb
!data/README.md